*{
    margin:0px;
}
.navbar{
    display:flex;
    background-color: black;
    height:70px;
}
.logo img{
    height: 70px;
    width: 120px;
    position: relative;
    left:50px;
}
.search1{
    color:white;
    position:relative;
    left:650px;
    top: 20px;
    justify-content: space-around;
}
.search2 img{
    height:20px;
    width:20px;
    background-color: white; 
    position: relative;
    left: 700px;
    top:20px;
}
.content1{
    padding:20px;
}
.content1 input{
    height: 70px;
    width: 1000px;
}
.content1 button{
    color:white;
    height:75px;
    width:130px;
    background-color: blue;
}
.content2{
display:flex;
}
.search3 img{
    height:500px;
    width: 700px;
    position: relative;
    left: 20px;
}
.search4 img{
    height: 500px;
    width:400px;
    position: relative;
    left:50px;
}
.search5 big{
color:black;
position:relative;
left:130px;
}
.content2{
    padding:20px;
}
.search6 button{
    color:black;
    border: 1px solid;
    position: relative;
    top:60px;
    height:20px;
    border-radius: 5px;
}
.content3{
    display: flex;
    padding: 40px;
    position: relative;
    top:30px;
}
.content3 img{
    height: 500px;
    width: 600px;
}

.search7 img{
height:250px;
width:550px;
position:relative;
left: 40px;
}
.search8 img{
    height:250px;
    width: 550px;
}
.content4{
    position:relative;
    top: 60px;
    left:450px;
}
.search9 img{
    height:500px;
    width:450px;
    position:relative;
    top:70px;
    border-radius: 5px;
}
